* {
    -fx-backgroundColor: #FFFFFF;
    -fx-primaryColor: #1976D2;
    -fx-accentColor: #2196F3;
    -fx-textColor: #212121;
    -fx-promptColor: #757575;
}

.root {
    -fx-background-color: -fx-backgroundColor;
}

.label, .text-field, .text-area, .combo-box {
    -fx-text-fill: -fx-textColor;
    -fx-font-size: 10pt;
    -jfx-focus-color: -fx-primaryColor;
    -fx-prompt-text-fill: -fx-promptColor;
}

#titleLabel {
    -fx-text-fill: -fx-textColor;
    -fx-font-weight: bold;
    -fx-font-size: 50pt;
}

.button {
    -fx-text-fill: -fx-backgroundColor;
    -fx-border-color: -fx-primaryColor;
    -fx-background-color: -fx-primaryColor;
    -fx-font-size: 12pt;
}

.button:hover {
    -fx-text-fill: -fx-backgroundColor;
    -fx-border-color: -fx-accentColor;
    -fx-background-color: -fx-accentColor;
}

.jfx-toggle-button {
     -jfx-size: 7.5;
     -jfx-toggle-color: -fx-primaryColor;
}

.jfx-check-box {
     -jfx-checked-color: -fx-primaryColor;
     -jfx-unchecked-color: -fx-textColor;
}

.jfx-check-box .mark{
     -fx-border-color: white;
}